@whiskeysockets:registry=https://gitea.devunder.com/api/packages/underchat/npm/
//gitea.devunder.com/api/packages/underchat/npm/:_authToken=89f580806a0e8bffdef073eec14faffba375bb59
enable-pre-post-scripts=true
