@use '@layouts/styles/mixins' as layoutsMixins;
@use '@core/scss/base/variables';
@use '@layouts/styles/placeholders';
@use '@core/scss/base/mixins';

%horizontal-nav-item {
  padding-block: 0.6rem;
  padding-inline: 1rem;
}

%horizontal-nav-top-level-item {
  border-radius: 0.4rem;
}

%horizontal-nav-disabled {
  opacity: var(--v-disabled-opacity);
  pointer-events: none;
}

%horizontal-nav-sub-nav-link-active {
  background: rgba(var(--v-theme-primary), 0.1);
  color: rgb(var(--v-theme-primary));
}

%horizontal-nav-popper-content-hidden {
  // display: none;

  // opacity: 0;
  // pointer-events: none;
  // transform: translateY(7px);
  // transition: transform 0.25s ease-in-out, opacity 0.15s ease-in-out;
}

%horizontal-nav-popper-content-visible {
  // display: block;

  // opacity: 1;
  // pointer-events: auto;
  // pointer-events: auto;
  // transform: translateY(0);
}

%horizontal-nav-item-icon {
  font-size: variables.$horizontal-nav-items-icon-size;
  margin-inline-end: variables.$horizontal-nav-items-icon-margin-inline-end;
}

%horizontal-nav-subitem {
  min-inline-size: 12rem;

  .nav-item-title {
    margin-inline-end: 1rem;
  }
}

%third-level-nav-item-icon {
  font-size: variables.$horizontal-nav-third-level-icon-size;
  margin-inline: calc(
      (
          variables.$horizontal-nav-items-icon-size -
            variables.$horizontal-nav-third-level-icon-size
        ) /
        2
    )
    0.75rem;
}

%horizontal-nav-item-title {
  margin-inline-end: 0.3rem;
  white-space: nowrap;
}

%horizontal-nav-popper-content {
  @include mixins.elevation(4);

  border-radius: 6px;
  padding-block: 0.3rem;

  > div {
    @extend %style-scroll-bar;
  }
}
